html, body{
  margin: 0;
  padding: 0;
}
.LoginCtrl {
    position: absolute;
    top: 0;
    right: 0;
    width: 200px;
    text-align: right;
    padding-right: 2px;
}

.LoginYes,
.LoginNo {
    display: none;
}

.LoginWait {
    display: block;
}

.Username{
  margin-top: 1px;
  color: white;
  font-size: 18px;

}
.LoginYes button {
  background-color: white;
  color: #0066A2;
  font-size: 15px;
  font-weight: bold;
  margin-top: 3px;
}

.LoginYes button:hover {
  font-weight: bolder;
  color: red;
}

ul {list-style-type: none;}
body {font-family: Verdana, sans-serif;}

/* Month header */
.month {
  text-align: center;
  background-color: #0066A2;
  display: block;
  padding: 70px;
  color: white;
  font-family: Arial, sans-serif;
  
}

/* Month list */
.month ul {
  margin: 0;
  padding: 10px 0;
}

.month ul li {
  color: rgb(255, 145, 1);
  font-size: 40px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

/* Previous button inside month header */
.month .prev {
  float: left;
  padding-top: 10px;
  
}

/* Next button */
.month .next {
  float: right;
  padding-top: 10px;

}

.prev:hover, .next:hover{
  color: white;
  cursor: pointer;
}

.weekdays,
#days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

#days li:first-child {
  grid-column: 3; /* sets the 1st day to be directly below corresponding weekday */
}

/* help tips */
.help-tip{
  position: absolute;
  top: 220px;
  right: 5px;
  text-align: center;
  background-color: rgb(255, 145, 1);
  border-radius: 50%;
  width: 25px;
  height: 25px;
  font-size: 14px;
  line-height: 26px;
  cursor: pointer;
}

.help-tip:before{
  content:'?';
  font-weight: bold;
  color: white;
}

.help-tip:hover p{
  display:block;
}

.help-tip p{    /* The tooltip */
  display: none;
  text-align: left;
  background-color: #1E2021;
  padding: 20px;
  width: 300px;
  position: absolute;
  border-radius: 3px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  right: -4px;
  color: #FFF;
  font-size: 13px;
  line-height: 1.4;
  opacity: .94;
}

.help-tip p:before{ /* The pointer of the tooltip */
  position: absolute;
  content: '';
  width:0;
  height: 0;
  border:7px solid transparent;
  border-bottom-color:#1E2021;
  right:10px;
  top:-12px;
}

.help-tip p:after{ /* Prevents the tooltip from being hidden */
  width:100%;
  height:40px;
  content:'';
  position: absolute;
  left:0;
}

.weekdays {
  margin: 0;
  padding: 10px;
  background-color: rgb(116, 114, 114);
}
.weekdays li {
  display: inline-block;
  /* width: 13.6%; */
  color: white;
  text-align: center;
}
/* Days (1-31) */
#days {
  padding: 10px;
  background-color: white;
  margin: 0;
}

#days li {
  list-style-type: none;
  display: inline-block;
  font-size: 18px;
  margin: 1px;
  text-align: center;
  /*color: rgb(255, 136, 0); */

  border: .5px solid; 
  line-height: 150px;
}




/* Highlight the "current" day */
.currentDay {
  border: 1px solid red;
  color: white;
  background-color: red;
  border-radius: 100%;
  padding: 5px;
}

#days li:hover{
  color: white;
  background-color: #0066A2;
  font-weight: bolder;
  font-size: 20px;
  border: 2px solid;
  cursor: pointer;
}

.activeDay{
  color: white;
  background-color: #00a251;
  font-weight: bolder;
  font-size: 20px;
  border: 2px solid;
  cursor: pointer;
}

#spec {
  font-size: 30px
  ;
}

.open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 40px;
  left: 28px;
  width: 250px;
}

/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}
.form-pop {
  display: none;
  position: fixed;
  bottom: 0;
  left: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}
/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

/* Full-width input fields */
.form-container input[type=text] {
  width: 90%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}

#mydiv {
  font-weight: lighter;
  font-size: 24px;
}